<!DOCTYPE html>
<html>
<head>
<style>

.parent{
width:200px;
height:150px;
border:1px solid black;
text-align:center;
}
.child{
width:100%;
height:100%;	
}


</style>
</head>
<body>

<div class="parent">
<div class="child" style="text-align: start;">
We are observing the behavior of text align property. We are observing the behavior of text align property.
</div>
</div>

</body>
</html>		
