<!DOCTYPE html>
<html>
<head>
<style>

.element{
width:150px;
height:150px;
background-color: lightblue;
box-shadow:box-shadow: 20px 12px 6px 5px rgba(255,0,0,1) inset;
}

</style>
</head>
<body>

<div class="element">
box-shadow: x-offset y-offset blur-radius spread-distance shadow-color [inset]
</div>

</body>
</html>		
