body {
  font-family: "Roboto";
  margin: auto;
}

.top {
  background-image: url(images/Mask\ Group\ 2.png),
    linear-gradient(#fcfcfc, #f2f2f4);
  background-repeat: no-repeat;
  background-position: right top 40px;
  height: 750px;
}
.icon {
  display: none;
}

.header {
  padding-top: 20px;
  margin-bottom: 90px;
  position: center;
  top: 10px;
  left: 10px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10%;
  margin-left: 10%;
}

.active > a,
.topnav a:hover {
  color: #ff5300 !important;
  font-weight: 700 !important;
  border-width: 0 0 2px;
  border-style: solid;
}

.header ul {
  position: relative;
  display: flex;
}

.header ul li {
  list-style: none;
  padding-right: 20px;
  line-height: 35px;
}

.header ul li a {
  display: inline-block;
  margin-left: 15px;
  color: black;
  vertical-align: middle;
  text-decoration: none;
}
.header .button {
  display: inline-block;
  margin-top: 0%;
  padding: 8px 25px;
  background-color: #ff5300;
  color: white;
  border: 0;
  border-radius: 4;
  font-weight: 500;
  letter-spacing: 1px;
}

.content {
  position: relative;
  width: 80%;
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
}
.content h5 {
  color: #fe7433;
}
.content .button {
  display: inline-block;
  margin-top: 0%;
  padding: 8px 25px;
  background-color: #ff5300;
  color: white;
  border: 0;
  border-radius: 4;
  font-weight: 500;
  letter-spacing: 1px;
}
.content .img {
  margin-right: -10%;
  margin-bottom: -12px;
  position: relative;
}
.textBox > p {
  color: #848484;
  margin-bottom: 20px;
}

.latest_blog {
  margin-top: -70px;
  z-index: 10;
  width: 76%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  box-shadow: 0 2.8px 80px rgba(0, 0, 0, 0.034),
    0 6.7px 80px rgba(0, 0, 0, 0.048);
  background-color: #ffffff;
  position: static;
}
.latest_blog .line1 {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  padding-top: 2%;
  display: flex;
  justify-content: space-between;
}
.latest_blog .line1 button {
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: center;
  display: inline-block;
  padding: 8px 25px;
  background-color: #ff5300;
  color: white;
  border: 0;
  border-radius: 4;
  font-weight: 500;
  letter-spacing: 1px;
}
.latest_blog .post {
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10px;
}
.latest_blog .post .post_img {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
.latest_blog .post .post_body {
  display: inline-block;
  margin-right: 5px;
  margin-top: 30px;
  margin-left: 5px;
  padding-bottom: 30px;
}
.latest_blog .post .post_body > p {
  color: #848484;
  font-size: 0.95rem;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
}
.latest_blog .post .post_body > button {
  height: 40px;
  float: right;
  margin-top: 10px;
  padding: 8px 30px;
  background-color: #ff5300;
  color: white;
  border: 0;
  border-radius: 4;
  font-weight: 500;
  letter-spacing: 1px;
}

.vl {
  margin-right: 13px;
  margin-left: 13px;
  margin-top: auto;
  margin-bottom: auto;
  border-left: 1.75px solid #e7e7e7;
  height: 120px;
}
.latest_blog .post .post_info {
  display: inline-block;
  margin-top: 50px;
  vertical-align: center;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
.latest_blog .post .post_info > p {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  color: #d4d1d1;
  line-height: 35px;
}
.show_more {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.show_more > button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: white;
  color: #ff5300;
  border-color: #ff5300;
  border-radius: 3px;
  box-shadow: none;
  border-style: solid;
}
.show_more {
  padding-top: 50px;
  padding-bottom: 70px;
}

.sections > h1 {
  font-family: "Roboto";
  align-content: center;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.card_container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.card {
  width: auto;
  display: inline-block;
  padding: 25px;
  margin: 25px;
  box-shadow: 1px 1px 2px white, 0 0 45px #f6f6f6, 0 0 15px #f6f6f6;
}
p,
h2 {
  margin: 2px;
}
.main_line {
  border-left: 5px solid;
  color: #ff5300;
  margin: -25px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.line_1 {
  margin-left: 22px;
}
.by {
  color: #ff5300;
  display: inline-block;
}
.date {
  padding-left: 10px;
  color: #acacac;
  display: inline-block;
}
.author {
  color: #acacac;
}
.card-heading {
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-body {
  color: #848484;
}
.read_more-btn > button {
  padding: 10px;
  background-color: white;
  color: #ff5300;
  border-color: #ff5300;
  border-radius: 3px;
  box-shadow: none;
  border-style: solid;
}
.read_more-btn {
  margin-top: 20px;
  margin-bottom: 10px;
}
.nav_btn {
  padding: 5px;
  display: flex;
  justify-content: center;
}
.nav_btn > img {
  margin: 10px;
}
.insta_section {
  width: 80%;
  margin-left: 12%;
}
.img_container {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 600px;
  align-content: flex-start;
}
.img_container > img {
  margin: -10px;
}
.new_blog {
  text-decoration: underline;
}
.new_blog_body > p {
  text-align: center;
  color: #848484;
  padding-bottom: 10px;
}
.subscribe {
  margin: 25px;
  display: flex;
  justify-content: center;
}
.subscribe > p {
  display: inline-block;
  width: 400px;
  height: 50px;
  background-color: #f5f5f5;
  padding-left: 30px;
  color: #c4c4c4;
  line-height: 50px;
}
.subscribe > button {
  display: inline-block;
  background-color: #ff5300;
  color: white;
  box-shadow: none;
  width: 150px;
  margin-left: -5px;
  border-color: #ffffff;
  border-style: solid;
}
.subscribe > button > p {
  display: inline-block;
}
.subscribe > button > img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(214deg)
    brightness(200%) contrast(101%);
  vertical-align: middle;
}
.footer {
  display: flex;
  justify-content: center;
}
.columns {
  display: inline-block;
  padding: 30px;
  margin: 30px; 
}


.footer_grey {
  color: #848484;
}
.brand > .footer_grey {
  line-height: 1.8;
}
.brand > .footer_bold {
  padding-top: 10px;
  padding-bottom: 10px;
}
.brand > .social_icons > .social_icons_company {
  margin: 10px;
  display: inline-block;
  padding: 10px 15px;
  color: #ff5300;
  border: 1px solid #ff5300;
  border-radius: 250px;
}
.pages > .footer_grey,
.recent_blogs > .footer_grey {
  line-height: 3.1;
}
.footer_bold {
  font-weight: 600;
}
.companies {
  display: inline-block;
}
.companies > img {
  display: block;
  padding: 5px;
  border: 1px solid;
  border-color: #c4c4c4;
  border-radius: 5px;
  margin: 10px;
}
.end {
  text-align: center;
  padding: 40px;
}
hr {
  color: #c4c4c4;
}

@media only screen and (max-width: 600px) {
  .top {
    background-position: left 100px top 40px !important;
  }

  * h1 {
      font-size: 25px !important;
  }
  * p{
      line-height: 1.5 !important;
  }
  .content h5 {
    margin-top: 50px;

  }
  
  .textBox > p {
    color: #252525;
  }

  .latest_blog .line1 button {
    height: 30px;
    padding: 4px 15px;

  }
  .latest_blog .post {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .latest_blog .post .post_img {
    display:inline-block!important;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
  }

  .post_body h2 {
      margin-top: -25px !important;
  }
  .latest_blog .post .post_body > button {
    height: 40px;
    margin-top:10px;
    padding: 8px 30px;
  }

  .vl {
    display: none;
  }
  .latest_blog .post .post_info {
    margin-top: -80px;
    margin-right: 0px;
    margin-left: 0px;
  }
  
  .show_more {
    padding-top: 25px;
    padding-bottom: 35px;
  }

  .card_container {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  
  .card-heading > h2 {
    font-size: 20px
  }
  .card-body > p{
    font-size: 14px;
    line-height: 1.5;
  }
  .insta_section {
    width: 100%;
    margin-left: 0;
  }
  .outer_img_container {
      width: 301px;
      margin-left: auto;
      margin-right: auto;
      
  }
  .img_container {
    height: 600px;
    
  }
  .img_container > img {
    margin: -5px;
    width: 50%;
    height: auto;
  }
  .new_blog {
    text-decoration: underline;
  }
  .new_blog_body {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
  }
  .new_blog_body > p {
      font-size: 14px;
    line-height: 1.5;

  }
  .subscribe {
    margin: 15px;
    display: flex;
    justify-content: center;
  }
  .subscribe > p {
    width: 200px;
    height: 40px;
    line-height: 40px;
  }
  .subscribe > button {
    width: 100px;
    
  }
  .subscribe > button > p {
    display: inline-block;
  }
  .subscribe > button > img {
    display: none;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }

  .footer_right{
      justify-content: center;
      display: flex;
      flex-direction: row;
  }
  .footer_bold {
      margin-left: 5px;
      margin-right: 5px;
  }
  .pages > .footer_grey,
    .recent_blogs > .footer_grey {
    line-height: 2.5;
    }
  .footer_grey{
      display: flex;
      justify-content: center;
      text-align: center;
  }
  .columns {
    display: inline-block;
    padding: 2px;
    margin: 2px;
  }
  
  .company_logo_bottom {
      margin-top: 50px;
      display: flex;
      justify-content: center;
  }

  .brand > .footer_bold,.brand > .social_icons {
      display: flex;
      justify-content: center;
  }
  
  .companies {
    display: inline-block;
  }

}
